{% extends "EvaluatorBundle::layout.html.twig" %}

{% block content %}
    
         <nav class="navbar navbar-dark bg-seconry">
             <span class="nav navbar-nav">
                 Curso: {{course.name}}
             </span>
             <span class="nav navbar-nav float-md-right">
                 <a class="btn btn-secondary text-muted" href="{{path("evaluator_add_partial", {"id":course.id})}}" id="nuevoParcialBtn">Nuevo Parcial</a>
             </span>
         </nav>
             
    <table class="table table-striped">
        <thead class="thead-inverse">
            <tr>
                <th>Nombre Alumno</th>
                    {% for partial_no_final in partials_no_final %}
                    <th>
                        {{partial_no_final.name ~ ' (' ~ partial_no_final.weight ~ ')'}}
                        <a href="{{path("evaluator_delete_partial", {"idPartial":partial_no_final.id, "idCourse":course.id})}}"><img src="{{ asset('images/icon_delete_white.png') }}"></a>
                    </th>
                {% endfor %}
                {% for final in partial_final %}
                    <th>
                        {{final.name }}
                    </th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% for student in students %}
                <tr>
                    <td>
                        {{student.name}}
                    </td>
                    {% for partial_no_final in partials_no_final %}
                        {% for mark_no_final in marks_no_final %}
                            {% if mark_no_final.idPartial.id == partial_no_final.id  and  mark_no_final.idStudent.id == student.id %}
                                {% set idMarkCell = 'markCell'~mark_no_final.id %}
                                {% set idMark = mark_no_final.id %}
                                {% set markResult = mark_no_final.grade %}
                                {% set courseId = course.id%}
                                <td {{" contenteditable class = %s id = %s data-mark-id = %s data-original-mark = %s data-course-id = %s"|format("markCell", idMarkCell, mark_no_final.id, mark_no_final.grade, courseId)}} >
                                    {{markResult}}
                                </td>
                            {% endif %}
                        {% endfor %}
                    {% endfor %}
  
                    {% for final in partial_final %}
                        {% for mark_final in marks_final %}
                            {% if mark_final.idPartial.id == final.id  and  mark_final.idStudent.id == student.id %}
                                <td>
                                    {{mark_final.grade}}
                                </td>
                            {% endif %}
                        {% endfor %}
                    {% endfor %}
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <div class="clearfix"></div>
    <script>
        
    </script>
    
{% endblock %}

{% block javascripts %}
    {{ parent ()}}
   <script src="{{ asset('assets/js/custom/markUpdate.js')}}"></script>
{% endblock%}




	
