<!DOCTYPE html>
<html lang="es">
    <head>
        <!-- Required meta tags always come first -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>
            {% block title %}Evaluator Symfony 3 Version{% endblock%}
        </title>

        <!-- Bootstrap CSS -->
        
        {% block stylesheets %}
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.5/css/bootstrap.min.css" integrity="sha384-AysaV+vQoT3kOAXZkl02PThvDr8HYKPZhNT5h/CXfBThSRXQ6jW5DO2ekP5ViFdi" crossorigin="anonymous">
            <link href="{{ asset('assets/css/estilos.css') }}" type = "text/css" rel="stylesheet" />
        {% endblock %}
    </head>
    <body>
        <div class="container">
            <header>
                <nav class="navbar navbar-dark bg-primary">
                    <a class="navbar-brand" href="{{path("evaluator_homepage")}}">Evaluator 2.0</a>
                    <span class="nav navbar-nav">
                        {% if app.user != null %}
                            <a class="nav-item nav-link" href="{{path("evaluator_index_courses")}}" id="cursosNavItem">Cursos</a>
                            <a class="nav-item nav-link" href="{{path("evaluator_add_course")}}" id="nuevoCursoNavItem">Nuevo Curso</a>
                        {% endif%}
                    </span>
                    <span class="nav navbar-nav float-md-right">

                        <div class="dropdown">
                            <a class="nav-item nav-link" href="#" id="cursosNavItem">
                                {% if app.user != null %}
                                    Bienvenido, {{app.user.name}}
                                {% endif%}
                            </a>
                            <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Login
                            </button>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                {% if app.user == null %}
                                    <a class="dropdown-item" href="{{path("login")}}">Entrar</a>
                                {% else %}
                                    <a class="dropdown-item" href="{{path("logout")}}">Salir</a>
                                {% endif %}
                            </div>
                        </div>
                    </span>

                </nav>

            </header>
            <section id="content">
                {% block content %}Contenido por defecto{% endblock %}
            </section>
            <footer class="blockquote-footer">
                Evaluator. Symfony3 version
            </footer>
        </div>
        
        {% block javascripts %}
            <!-- jQuery first, then Tether, then Bootstrap JS. -->
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js" integrity="sha384-3ceskX3iaEnIogmQchP8opvBy3Mi7Ce34nWjpBIwVTHfGYWQS9jwHDVRnpKKHJg7" crossorigin="anonymous"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.3.7/js/tether.min.js" integrity="sha384-XTs3FgkjiBgo8qjEjBk0tGmf3wPrWtA6coPfQDfFEY8AnYJwjalXCiosYRBIBZX8" crossorigin="anonymous"></script>
            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.5/js/bootstrap.min.js" integrity="sha384-BLiI7JTZm+JWlgKa0M0kGRpJbF2J8q+qreVrKBC47e3K6BW78kGLrCkeRX6I9RoK" crossorigin="anonymous"></script>
            <script type ="text/javascript">
                window.URL = "{{app.request.getSchemeAndHttpHost()}}/evaluator_sym/web/app_dev.php/";
            </script>
        {% endblock%}

        
    </body>
</html>
